<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col"><a href="/mailer/clients">Клиенты</a></div>
    <div class="col"><a href="/mailer/distributions">Рассылки</a></div>
    <div class="col"><a href="/mailer/tags">Теги</a></div>
    <div class="col"><a href="/mailer/messages">Сообщения</a></div>

</div>
</body>
</html>